.index #rainarea {
    display: none;
}

.index #canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.index .logo_inline {
    position: fixed;
    top: 2.5rem;
    left: 1.5rem;
    z-index: 1;
}

.index .logo_inline svg {
    width: auto;
    height: 3rem;
    opacity: .8;
    cursor: cell;
}

.index svg:not(:root) {
    overflow: hidden;
}

.index .info {
    position: fixed;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    color: mediumpurple;
}

.index .footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #000000;
    height: 3rem;
    z-index: 555;
    text-align: center;
    color: #fff;
    font-size: .7rem;
    letter-spacing: 0.3rem;
    padding-top: 0.5rem;
}

.index .footer p {
    padding-top: 0.2rem;
    letter-spacing: 0.1rem;
    font-size: 0.6rem;
}

.index .footer a {
    color: #fff;
    text-decoration: none;
}

.index .notice-bg {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.7;
    opacity: .70;
    filter: alpha(opacity=70);
    display: none;
}

.index .notice {
    position: absolute;
    right: 5%;
    top: 30px;
}