.register {
    z-index: 2;
    background-image: url('http://www.alloyteam.cn.img.800cdn.com/static/img/register_bg.1462184.png');
    background-size: 100% 100%;
    height: 100%;
}

.register h1 {
    margin: 0;
    padding-left: 0.8rem;
}

.form_area {
    margin: 0 auto;
    padding-top: 5rem;
}

.input_area {
    width: 80%;
    position: absolute;
    top: 8%;
    background-image: url('../img/form_bg.png');
    background-size: 100% 100%;
    padding: 1rem 0 2rem;
}

.register p {
    font-size: 0.5rem;
    border-bottom: 1px solid #e4e4e4;
    padding-left: 0.8rem;
}

.register form {
    padding: 0.5rem 0.8rem;
}

.register .title {
    display: block;
    font-size: 0.6rem;
    padding-bottom: 0.5rem;
}

.register .input {
    width: 100%;
    height: 1.5rem;
    line-height: 1.5rem;
    border-radius: 12px;
    font-size: 0.8rem;
    padding: 0 0.5rem;
}

.register .sign_btn {
    margin-top: 2rem;
    width: 4rem;
    height: 1.8rem;
    font-size: 0.8rem;
    background-color: #44ccec;
}

.modal {
    position: fixed;
    top: 25%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    overflow: visible;
    display: block;
}

.author {
    font-size: 0.7rem;
    font-family: simhei;
    text-align: center;
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
}

.myurl {
    font-size: 0.7rem;
    font-family: simhei;
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
}

.check_btn {
    width: 1rem;
    height: 0.5rem;
}

.remember {
    font-size: 0.7rem;
}